<div *ngIf="this.products">
    <ng-container *ngFor="let all of products">
        <h4>{{all.title}}</h4>
        <table>
            <thead>
                <tr>
                    <ng-container *ngFor="let data of header">
                        <th> {{data.title}}</th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img [src]="all.image" width="90" /></td>
                    <td>{{all.firstname }} {{all.lastname}}</td>
                    <td>MRP. {{all.price}}/-</td>
                    <td>{{all.mobileno}}</td>
                    <td>{{all.address}}</td>
                </tr>
            </tbody>
        </table>
        <br>
    </ng-container>
    <div class="center" *ngIf="this.products == ''">
        <h5>No Data Availabel</h5>
    </div>
</div>